<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="search movie"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let movie of listMovie">
      <ion-item lines="full" (click)="showMovie(movie)">
        <ion-thumbnail slot="start">
          <img [src]="movie.image" alt="Flash movie" srcset="">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{ movie.name }}</h1>
            <p>{{ movie.duration}}</p>
            <ion-badge color="light" *ngFor="let genre of movie.genre">{{ genre }}</ion-badge>
          </div>
        </ion-label>
        <ion-chip color="success" outline>
          <ion-label>
            {{movie.classification}}%
          </ion-label>
        </ion-chip>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="orange" (click)="showAlert()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
