<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-xl="5" size-lg="6" size-md="9" size-xs="12">
        <ion-card>
          <img src="assets/img/about.jpg" alt="dev" srcset="">
          <h1>Thiago Marques</h1>
          <p>Software Development</p>
          <a href="mailto:thiagossmarques@gmail.com">thiagossmarques@gmail.com</a>
        </ion-card>
        <p>App developed for study</p>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
